#calculator {
  border: 1px black solid;
  width: 40%;
  height: 500px;
}

.test {
  border: 1px solid green;
  height: 100%;
}

#display-area {
  height: 140px;
}

.button-col {
  height: 75px;;
  border: 2px dashed red;
}

.buffer {
  height: 15px;
}
